pytest>=5.2.4
ovoscope>=0.5.1,<1.0.0
ovos-core[plugins,lgpl]>=2.0.0a1
ovos-bus-client
ovos-adapt-parser>=1.0.9,<2.0.0
ovos_padatious>=2.0.1a1,<3.0.0
ovos-m2v-pipeline>=0.5.4a1,<1.0.0
nebulento>=0.1.0
palavreado>=0.2.0
ovos-spec-tools
